<launch>
  <node name="curb_detection" pkg="lidar_curb_detection" type="curb_detection" respawn="true" output="screen">
    <remap from="/input" to="/os_cloud_node/points"/>
  </node>

  <arg name="rviz_config" default="$(find lidar_curb_detection)/curb.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true" />
  
</launch>